<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description, :rows => 4 %>
</p>
<p>
  <%= f.label :is_public %><br />
  <%= f.check_box :is_public %>
</p>