<%
	all_coordinates = @track.coordinates(:order => "tracked_at DESC")
	prev_coordinate = nil
	total_dist = dist = 0
%>
<% unless all_coordinates.empty? %>
	<% list_of_coordinates = capture do %>
		<table class="list">
			<thead>
				<tr>
					<td colspan="5">Tracked coordinates:</td>
				</tr>
				<tr>
					<td>Lat</td>
					<td>Lng</td>
					<td>Time</td>
					<td>Dist (km)</td>
					<td>Speed (km/h)</td>
				</tr>
			</thead>

			<tbody>
				<% all_coordinates.each do |c| %>
					<tr class="<%= cycle(:even, :odd)%>">
						<td><%= c.lat %></td>
						<td><%= c.lng %></td>
						<td><%= c.tracked_at %></td>
						<td>
							<%= format("%.2f", dist = c.distance(prev_coordinate)) unless prev_coordinate.nil? %>
						</td>
						<td>
							<%= format("%.2f", c.speed(prev_coordinate, dist)) unless prev_coordinate.nil? %>
						</td>
					</tr>
					<%
						prev_coordinate = c
						total_dist += dist
					%>
				<% end %>
			</tbody>
		</table>
	<% end %>

	<fieldset>
		<legend>Dashboard</legend>
		Total dist: <strong><%= format "%.2f", total_dist %></strong> km<br />
		Average speed: <strong><%= format "%.2f", all_coordinates.first.speed(all_coordinates.last, total_dist) %></strong> km/h
	</fieldset>

	<%= list_of_coordinates %>

	<script type="text/javascript">
		$(document).bind('new_coordinates_arrived', function () {
			alert
			$('#coordinates-and-dashboard-wrapper').load(<%= url_for(:format => 'text').to_s.to_json %>);
		});
	</script>
<% end %>
