<% if @only_public %>
	<h1>Public tracks for <%= link_to h(@user.to_s), user_path(@user) %></h1>
<% else %>
	<h1>Listing <%= @all_public_tracks ? 'public' : '' %> tracks</h1>
<% end %>

<table class="list">
	<thead>
	<tr>
		<td>Name</td>
		<td>Length</td>
		<td>Coords</td>
		<td>Public?</td>
		<td>By</td>
		<td></td>
	</tr>
	</thead>
	
	<tbody>
		<% @tracks.each do |track| %>
			<tr class="<%= cycle(:even, :odd) %>">
				<td><%= track.name %></td>
				<td><%= track.length.to_f.round(2) %> km</td>
				<td><%= track.coordinates.size %></td>
				<td><%= track.is_public ? "yes" : "no" %></td>
				<td><%= link_to track.user.to_s, user_path(track.user) %></td>
				<td>
					<% if @only_public || @some_public_tracks %>
						<%= link_to 'Show', user_track_path(track.user, track) %>
					<% else %>
						<%= link_to 'Show', track %>
					<% end %>

					<% if logged_in? && track.user == current_user %>
						<%= link_to 'Edit', edit_track_path(track) %>
						<%= link_to 'Destroy', track, :confirm => 'Are you sure?', :method => :delete %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<% if logged_in? && !@all_public_tracks && !@some_public_tracks %>
	<br />
	<%= link_to 'New track', new_track_path %>
<% end %>
