<div>
	<div>Name: <%= @track.name %></div>
	<div>Description: <%= @track.description%></div>
</div>

<br />

<%= render :partial => "map_form" %>

<div id="coordinates-and-dashboard-wrapper">
	<%= render :partial => 'track_dashboard.html' %>
</div>

<% if logged_in? && @user == current_user %>
	<%= link_to 'Edit', edit_track_path(@track) %> |
	<%= link_to "Back", tracks_path %>
<% end %>
