<% form_for @user, :html => { :id => 'edit-user-form' } do |f| -%>
	<%= f.error_messages %>

	<p>
		<%= f.label :name, 'Name:' %><br />
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :email, 'E-mail:' %><br />
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :password, 'Password:' %><br />
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.label :password_confirmation, 'Confirm password:' %><br />
		<%= f.password_field :password_confirmation %>
	</p>

	<div class="section">
		<div>
			<%= f.check_box :is_public %>
			<%= f.label :is_public, 'Make my profile publicly visible.' %>
		</div>

		<div>
			<%= f.check_box :show_email %>
			<%= f.label :show_email, 'Show my e-mail address in my public profile.' %>
		</div>
	</div>

	<div>
		<%= f.label :about, 'About yourself, in a few words:' %><br />
		<%= f.text_area :about %>
	</div>

	<p><%= f.submit 'Update Profile', :class => 'submit' %> or <%= link_to 'Cancel', user_path(@user) %></p>
<% end -%>
